.kml-upload {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.point-info {
  font-size: 12px;
  color: #4c8832;
  font-weight: 600;
}

.error-info {
  font-size: 12px;
  color: #e42518;
}
